// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #0c570c;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Fujin - Alpaca Toolbox Menubar
$dropdown-content-padding-bottom: 8px;
$dropdown-content-padding-top: 8px;
$dropdown-content-radius: 10px;
$dropdown-item-hover-background-color: $primary;
$dropdown-item-hover-color: $primary-invert;
$dropdown-content-background-color: rgba($scheme-main,90%);
$dropdown-divider-background-color: $border;
$dropdown-item-active-color:  $primary-invert;
$dropdown-item-active-background-color:transparent;
$text: $black;
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";